.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
}

.fp-section {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.fp-section.active {
	visibility: visible;
	opacity: 1;
}