@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:400,700,900&subset=cyrillic");
ul,
li,
nav,
p,
form,
input,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

* {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #70757c;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

input {
  outline: none;
}

h2 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  letter-spacing: 0.02em;
  background: -webkit-gradient(linear, left top, right top, from(#f65b2f), to(#fb8300));
  background: linear-gradient(90deg, #f65b2f 0%, #fb8300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f65b2f;
  font-weight: 900;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 55px;
}

.h2-span {
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  color: #70757c;
  font-weight: 700;
}

.place-card {
  display: none !important;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-left {
  max-width: 435px;
}

.header-left .logo img {
  margin-bottom: 20px;
}

.header-left .address-stroke1 {
  opacity: 0.9;
  font-size: 19px;
  font-weight: 400;
  color: #313131;
  line-height: 26px;
  letter-spacing: 0.6px;
  display: inline-block;
  margin-bottom: 4px;
}

.header-left .address-stroke2 {
  opacity: 0.8;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #313131;
}

.header-right {
  text-align: right;
  margin-top: 25px;
}

.header-right .contacts {
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.header-right .contacts-tel {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  color: #293341;
  margin-bottom: 14px;
}

.header-right .contacts-tel__first {
  display: inline-block;
  font-size: 21px;
  color: #293341;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.header-right .contacts-tel__second {
  display: inline-block;
  font-size: 21px;
  color: #f76326;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.header-right .contacts-tel__i {
  display: inline-block;
  color: #c1c1c1;
  padding-left: 18px;
  padding-right: 15px;
}

.header-right .contacts-mail {
  font-size: 23px;
  line-height: 40px;
  letter-spacing: 0.04em;
}

.header-right .contacts-mail__title {
  color: #c1c1c1;
}

.header-right .contacts-mail__info {
  color: #293341;
}

.header-right .contacts-mail__info span {
  color: #f76326;
}

.address-stroke1 {
  opacity: 0.9;
  font-size: 19px;
  font-weight: 400;
  color: #313131;
  line-height: 26px;
  letter-spacing: 0.6px;
  display: inline-block;
  margin-bottom: 4px;
}

.address-stroke2 {
  opacity: 0.8;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #313131;
}

.contacts {
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.contacts-tel {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  color: #293341;
  margin-bottom: 25px;
}

.contacts-tel__first {
  display: inline-block;
  font-size: 21px;
  color: #293341;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.contacts-tel__second {
  display: inline-block;
  font-size: 21px;
  color: #f76326;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

.contacts-tel__i {
  display: inline-block;
  color: #c1c1c1;
  padding-left: 18px;
  padding-right: 15px;
}

.contacts-mail {
  font-size: 23px;
  line-height: 40px;
  letter-spacing: 0.04em;
}

.contacts-mail__title {
  color: #c1c1c1;
}

.contacts-mail__info {
  color: #293341;
}

.contacts-mail__info span {
  color: #f76326;
}

.nav {
  background: #293341;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-list a {
  font-size: 18px;
  line-height: 47px;
  font-weight: 400;
  letter-spacing: 0.022em;
  color: #f2f2f2;
  text-decoration: none;
}

.nav-list__item a:hover {
  border-bottom: 1px solid #c1c1c1;
  -webkit-transition: 0s;
  transition: 0s;
}

.nav-list__item a:active {
  color: #fd8934;
  border-bottom: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.title {
  position: relative;
  background: url("../img/title-bg.jpg");
  background-size: cover;
  z-index: 0;
  padding-top: 50px;
  padding-bottom: 35px;
}

.title-content {
  width: 460px;
}

.title-content__title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#f65b2f), to(#fb8300));
  background: linear-gradient(90deg, #f65b2f 0%, #fb8300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f65b2f;
  letter-spacing: 0.1px;
  font-size: 42px;
  font-weight: 900;
  margin-bottom: 12px;
}

.title-content__subtitle {
  font-size: 26px;
  letter-spacing: 0.02em;
  color: #293341;
  margin-bottom: 40px;
}

.title-content__board {
  background-color: #f76326;
  -webkit-box-shadow: 5px 5px 20px #d24315;
  box-shadow: 5px 5px 20px #d24315;
  padding-top: 17px;
  padding-left: 25px;
  padding-bottom: 17px;
  margin-bottom: 55px;
  max-width: 392px;
}

.title-content__board .board-title {
  font-size: 33px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.06em;
  margin-bottom: 14px;
}

.title-content__board .board-subtitle {
  font-size: 26px;
  font-weight: 700;
  color: #293341;
  margin-bottom: 17px;
}

.title-content__board .board-text {
  max-width: 321px;
  font-size: 23px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: -38px;
}

.form-inputs {
  width: 388px;
  height: 46px;
  padding-left: 30px;
  opacity: 0.83;
  background-color: #ffffff;
  border: 1.0px solid #f36325;
  margin-bottom: 15px;
}

.form-button {
  margin-top: 15px;
  width: 256px;
  height: 48px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f65b2f), to(#fb8300));
  background-image: linear-gradient(90deg, #f65b2f 0%, #fb8300 100%);
  border-radius: 24px;
  border: none;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #ffffff;
  -webkit-box-shadow: 0px 5px 5px #d24315;
  box-shadow: 0px 5px 5px #d24315;
}

.title-bg-after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
}

.title-machine {
  position: absolute;
  bottom: -165px;
  right: 0;
  z-index: -2;
}

.counter {
  padding-top: 29px;
  padding-bottom: 48px;
}

.counter-title {
  margin-bottom: 32px;
  letter-spacing: 0.02em;
  color: #293341;
  font-size: 23px;
  margin-left: 33px;
}

.counter-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.timer-item {
  height: 100px;
  width: 100px;
  border: 2.0px solid #f76326;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.timer-item__title {
  margin-top: -5px;
  font-size: 30px;
  color: #293341;
  letter-spacing: 0.02em;
  font-weight: 700;
}

.timer-item__subtitle {
  font-size: 17px;
  color: #313131;
}

.timer-separator {
  margin-top: -1px;
  font-size: 33px;
  color: #293341;
  margin: 0px 25px;
}

.advantages {
  background: #f2f2f2;
}

.advantages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.advantages-items .advantages-item {
  width: 324px;
  height: 300px;
  background-color: #ffffff;
  position: relative;
  margin-bottom: 55px;
}

.advantages-items .advantages-item__title {
  max-width: 120px;
  font-size: 20px;
  font-weight: 700;
  color: #293341;
  margin-left: 100px;
  margin-top: 14px;
}

.advantages-items .advantages-item__text {
  max-width: 270px;
  text-align-last: left;
  font-size: 17px;
  color: #293341;
  line-height: 20px;
  margin-top: 40px;
  margin-left: 12px;
}

.advantages-items .advantages-item::after {
  content: url("../img/advantages-after.png");
  position: absolute;
  right: 13px;
  bottom: 13px;
}

.advantages-items .advantages-item1::after {
  content: url("../img/advantages-icon1.png");
  position: absolute;
  left: 0;
  top: 0;
}

.advantages-items .advantages-item2::after {
  content: url("../img/advantages-icon2.png");
  position: absolute;
  left: 0;
  top: 0;
}

.advantages-items .advantages-item3::after {
  content: url("../img/advantages-icon3.png");
  position: absolute;
  left: 0;
  top: 0;
}

.advantages-items .advantages-item4::after {
  content: url("../img/advantages-icon4.png");
  position: absolute;
  left: 0;
  top: 0;
}

.advantages-items .advantages-item5::after {
  content: url("../img/advantages-icon5.png");
  position: absolute;
  left: 0;
  top: 0;
}

.advantages-items .advantages-item6::after {
  content: url("../img/advantages-icon6.png");
  position: absolute;
  left: 0;
  top: 0;
}

.services {
  position: relative;
  z-index: -2;
  padding-bottom: 15px;
}

.services-list-item2 {
  margin-left: 70px;
}

.services-list-item3 {
  margin-left: 160px;
}

.services-list-item4 {
  margin-left: 250px;
}

.services-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-bottom: 45px;
}

.services-list-item__number {
  font-size: 45px;
  font-weight: 700;
  color: #fb8004;
  margin-right: 20px;
}

.services-list-item__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #293341;
}

.services-list-item__descr {
  font-size: 17px;
  line-height: 23px;
  font-weight: 400;
  color: #293341;
}

.services-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
}

.services-right-up {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.services-right-down {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.work {
  background: url("../img/work-bg.jpg");
  border-bottom: 6px solid #fd8934;
  position: relative;
  z-index: -2;
}

.work-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.work-item1::before {
  top: -55px;
  left: -3px;
  content: "01";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item2::before {
  top: -55px;
  left: -3px;
  content: "02";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item3::before {
  top: -55px;
  left: -3px;
  content: "03";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item4::before {
  top: -55px;
  left: -3px;
  content: "04";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item5::before {
  top: -55px;
  left: -3px;
  content: "05";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item6::before {
  top: -55px;
  left: -3px;
  content: "06";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item7::before {
  top: -55px;
  left: -3px;
  content: "07";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item8::before {
  top: -55px;
  left: -3px;
  content: "08";
  position: absolute;
  opacity: 0.3;
  font-family: 'Open Sans', sans-serif;
  font-size: 96px;
  font-weight: 700;
  color: #6e6e6e;
  z-index: -1;
}

.work-item {
  width: 264px;
  margin-bottom: 75px;
  position: relative;
}

.work-item__img {
  width: 180px;
  height: 180px;
  border: 2px solid #fb8103;
  border-radius: 50%;
  margin: auto;
}

.work-item__text {
  margin-top: 13px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #293341;
}

.projects-text {
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #293341;
}

.projects-text p {
  margin-bottom: 35px;
}

.projects hr {
  width: 124px;
  height: 2px;
  background: #fd8934;
  border: none;
  margin-bottom: 40px;
}

.projects-items .projects-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  height: 210px;
}

.projects-items .projects-item__text {
  width: 40%;
  font-size: 17px;
  color: #313131;
  line-height: 20px;
  border-right: 3px solid #fd8934;
  padding-right: 50px;
  margin-right: 12px;
  letter-spacing: 0.01px;
}

.projects-items .projects-item__text-p2 {
  margin-top: 8px;
  line-height: 21px;
}

.projects-items .projects-item__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-line-pack: justify;
  align-content: space-between;
}

.projects-items .projects-item__photo img {
  margin-left: 13px;
}

.projects-link {
  font-size: 20px;
  color: #70757c;
  margin: auto;
  margin-bottom: 70px;
  text-align: center;
}

.projects-link .projects-link-a {
  border-bottom: 2px solid #fd8934;
  height: 17px;
  width: 17px;
  padding-left: 5px;
}

.projects-link .projects-link-a:last-child {
  border: none;
}

.cost {
  background: #f2f2f2;
  border-bottom: 3px solid #fd8934;
}

.cost-boards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 68px;
}

.cost-boards__item:hover {
  border: 2.0px solid #fd8934;
}

.cost-boards__item {
  text-align: center;
  width: 244px;
  height: 163px;
  background-color: #ffffff;
  padding: 14px 40px 18px 40px;
  position: relative;
}

.cost-boards__item-title {
  font-size: 20.1px;
  font-weight: 700;
  color: #313131;
}

.cost-boards__item-subtitle {
  margin-top: 4px;
  font-size: 17px;
  color: #293341;
}

.cost-boards__item hr {
  width: 124px;
  height: 2px;
  background-color: #fd8934;
  border: none;
  position: absolute;
  bottom: 65px;
  left: 100px;
}

.cost-boards__item-value {
  font-size: 35px;
  font-weight: 700;
  color: #fb8004;
  position: absolute;
  bottom: 18px;
  left: 60px;
}

.cost-list__title {
  font-size: 20px;
  color: #293341;
  margin-bottom: 35px;
}

.cost-list__items {
  margin-left: 40px;
  color: #293341;
  font-size: 17px;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}

.cost-list__items ul li {
  margin-bottom: 10px;
}

.map {
  position: relative;
  overflow: hidden;
  height: 600px;
}

.map-board {
  position: absolute;
  top: 0;
  left: 10%;
  width: 490px;
  height: 600px;
  padding-left: 30px;
  background-color: #f2f2f2;
}

.map-logo {
  display: inline-block;
  margin-top: 46px;
  margin-bottom: 55px;
}

.map-subtitle {
  display: inline-block;
  margin-bottom: 80px;
}

.footer {
  background-color: #293341;
  padding-top: 27px;
  padding-bottom: 10px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer .container .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .container .footer-left .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer .container .footer-left .address span {
  color: #ffffff;
  margin-bottom: 18px;
}

.footer .container .footer-left-email {
  font-size: 16px;
  color: #70757c;
  opacity: 0.8;
  margin-top: 30px;
}

.footer .container .footer-right {
  text-align: right;
}

.footer .container .footer-right .contacts-tel {
  color: #ffffff;
  margin-bottom: 8px;
}

.footer .container .footer-right .contacts-tel__first {
  color: #ffffff;
}

.footer .container .footer-right .contacts-mail__info {
  color: #ffffff;
}

.footer .container .footer-right-creator {
  color: #70757c;
  letter-spacing: 0.02em;
  font-size: 16px;
  margin-top: 39px;
  opacity: 0.8;
}

.nav-page {
  height: 20px;
}

.home-href {
  padding-top: 5px;
}

.home-href-icon {
  width: 8px;
  height: 9px;
}

.home-href-link {
  letter-spacing: 0.5px;
  color: #757a81;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1450px) {
  .title-machine {
    bottom: -235px;
  }
}

@media (max-width: 1700px) {
  .title-bg-after,
  .title-machine {
    width: 100%;
  }

  .services-left {
    -webkit-transform: translateX(-30%);
    transform: translateX(-30%);
  }
}