@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-500.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-500'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-500.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-900.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-900'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-900.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-700.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-700'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-700.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSans/MuseoSansCyrl-300.eot');
	src: local('../fonts/MuseoSans/MuseoSansCyrl-300'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300.woff') format('woff'),
		url('../fonts/MuseoSans/MuseoSansCyrl-300.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Museo Cyrillic';
	src: url('../fonts/Museo_Cyrillic/MuseoCyrl-900.eot');
	src: local('../fonts/Museo_Cyrillic/MuseoCyrl-900'),
		url('../fonts/Museo_Cyrillic/MuseoCyrl-900.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Museo_Cyrillic/MuseoCyrl-900.woff') format('woff'),
		url('../fonts/Museo_Cyrillic/MuseoCyrl-900.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
